<h3>¡Hola!</h3>

<p>
    Has sido convocado a la Trivia Mundialista de Colsubsidio por <strong>{{user.name|title}} {{user.lastName|title}}</strong>.
</p>

<p>
    <a href="{{ url('homepage') }}">Comienza a jugar y ganar acá</a>
</p>

Un saludo,
<br>
<br>
El Equipo Colsubsidio.
