<h3>¡Hola {{user.name|title}}!</h3>

<p>
    Has sido inscrito en la Trivia Mundialista de Colsubsidio usando la factura número <strong>{{user.bill}}</strong> y tu cédula número <strong>{{user.username}}</strong>.
</p>

<p>
    <a href="{{ url('homepage') }}">Comienza a jugar y ganar acá</a>
</p>

Un saludo,
<br>
<br>
El Equipo Colsubsidio.
