<div class="modal fade invite-modal" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="{{ asset('img/logo-game.png') }}" class="modal-brand xxs-brand" alt="Trivia Mundialista">
                <button type="button" class="close pull-right hidden-sm hidden-md hidden-lg" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title pull-right text-right" id="myModalLabel">
                    Invitar Amigos
                </h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta perferendis vero laudantium inventore asperiores obcaecati quas natus deserunt, nihil veniam ducimus facere, adipisci harum ex. Iusto modi cumque placeat eligendi?
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
