<div class="modal fade ranking-modal" id="rankingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="{{ asset('img/logo-game.png') }}" class="modal-brand xxs-brand" alt="Trivia Mundialista">
                <button type="button" class="close pull-right hidden-sm hidden-md hidden-lg" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title pull-right text-right" id="myModalLabel">
                    Nuestro Top 10
                    <small>
                        De un total de <span id="totalUsers">100</span> jugadores
                    </small>
                </h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-custom">En caso de empate se tomará en cuenta quien se haya registrado primero</div>
                <div class="row">
                    <div class="col-xs-2 text-center header">Rango</div>
                    <div class="col-xs-8 header">Jugador</div>
                    <div class="col-xs-2 text-center header">Puntaje</div>
                </div>
                <div class="row" id="rankingList" data-this-user="{{ app.user.id }}"></div>
            </div>
        </div>
    </div>
</div>
