<div class="modal fade terms-modal" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="{{ asset('img/logo-colsubsidio.png') }}" class="modal-brand margin-top-17 hidden-xxs" alt="Colsubsidio">
                <button type="button" class="close pull-right hidden-sm hidden-md hidden-lg" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title pull-right text-right" id="myModalLabel">
                    Términos y Condiciones
                </h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid text-justify terms-container">
                    <p>
                        Cuando usted use y/o ingrese al sitio de internet <a href="http://ruletacolsubsidio.com">ruletacolsubsidio.com</a>, usted acuerda expresamente que estos términos y condiciones, así como el manual de políticas y procedimientos para el trato de datos personales y el aviso de privacidad ubicados en la página <a href="http://ruletacolsubsidio.com">ruletacolsubsidio.com</a> son de su pleno conocimiento y expresamente declara conocer y aceptar todos sus términos, mismos que se tendrán por aquí reproducidos como si a la letra se insertasen, los cuales en su conjunto constituirán el Contrato que rige el uso del Sitio.
                    </p>
                    <p>
                        En caso de que no esté de acuerdo con cualquiera de los Términos del Servicio o el Contrato, le invitamos a que abandone el Sitio y no haga uso del Servicio.
                    </p>
                    <p>
                        Para que pueda participar en la Ruleta Mundialista Colsubsidio es necesario se registre previamente indicando sus datos personales como nombre, número de cédula, número de celular, correo, número de factura y contraseña y será responsabilidad del usuario mantener la confidencialidad de cualquier contraseña que pueda usar para acceder al Sitio y acepta no transmitir su nombre de usuario o contraseña ni prestarlos ni trasladar de otro modo el uso de o acceso al Sitio a ningún tercero.
                    </p>
                    <p>
                        Es usted plenamente responsable de toda interacción con el Sitio que se produzca en relación con su contraseña o nombre de usuario. Acepta notificar inmediatamente a la Caja de Compensación Colsubsidio cualquier uso no autorizado de su nombre de usuario o contraseña o de cualquier otra violación de la seguridad en relación con su cuenta o con el Sitio y de asegurarse de que "cierra sesión"/sale de su cuenta en el Sitio (si procede) al final de cada sesión. No nos responsabilizamos de cualquier pérdida o daño resultante del no cumplimiento de cualquiera de las obligaciones anteriores.
                    </p>
                    <p>
                        La Ruleta Mundialista Colsubsidio será una mecánica de juego virtual que estará vigente para los usuarios del 15 de mayo de 2018 al 12 de junio de 2018, con una actividad denominada "La Previa" en esta parte del juego virtual el usuario responderá preguntas de manera aleatoria, las cuales estarán relacionadas al mundo del fútbol, el usuario contará con 10 segundos para escoger la respuesta correcta, el usuario contará con un único turno y no podrá modificar la respuesta seleccionada, una vez finalizado el tiempo si el usuario responde de manera correcta ganará 10 balones, de otro modo si su respuesta es incorrecta el usuario no ganará ni perderá balones. Cabe resaltar que, el usuario será el único responsable sobre las respuestas seleccionadas.
                    </p>
                    <p>
                        Para que el usuario se pueda registrar en <a href="http://ruletacolsubsidio.com">ruletacolsubsidio.com</a> deberá realizar una compra igual o superior a los $80.000 pesos colombianos (no acumulables) en productos y/o servicios de Recreación y Turismo de Colsubsidio (Piscilago, Club La Colina, Club Bellavista, Club 195, El Cubo, Hotel Peñalisa, Hotel Bosque de Athan, Hotel Lanceros, Hotel Colonial y Hotel El Alcaraván) e ingresar el número de factura y/o número del recibo de pago y/o número de reserva en la página web <a href="http://ruletacolsubsidio.com">ruletacolsubsidio.com</a> junto con sus datos personales e iniciar el juego virtual. Las facturas, los recibos de pagos y las reservas no son acumulables, es decir, que solo serán válidas aquellas facturas, recibos de pagos y reservas que tengan un monto igual o superior a los $80.000 pesos colombianos (no acumulables). La vigencia de compra será del 01 de abril de 2018 al 31 de mayo de 2018.
                    </p>
                    <p>
                        Los canales disponibles para las compras son: Centros de Servicio, Líneas de Atención, Portal Web, Puntos Ágiles y Taquillas de cada uno de los establecimientos.
                    </p>
                    <p>
                        Los canales disponibles para las compras son: Centros de Servicio, Líneas de Atención, Portal Web, Puntos Ágiles y Taquillas de cada uno de los establecimientos.
                    </p>
                    <p>
                        El usuario que participe en la Ruleta Mundialista Colsubsidio podrá ganar balones realizando las siguientes acciones, los balones aquí relacionados son equivalentes a los puntos que las personas acumularan en el transcurso del juego virtual, entre más balones (puntos) acumule, más oportunidades tendrá para ganar:

                        <ul>
                            <li>
                                · Obtener balones por cada pregunta acertada en la fase "La Previa". Balones a acumular 10
                            </li>
                            <li>
                                · Obtener balones por el primer login que realice a diario en las fases "La Previa". Balones a acumular 5.
                            </li>
                            <li>
                                · Obtener balones por invitar amigos a la Ruleta Mundialista Colsubsidio. Balones a acumular 5.
                            </li>
                        </ul>
                    </p>
                    <p>
                        En la primera parte del juego virtual "La Previa", por cada 24 horas, el usuario dispondrá de tres (3) oportunidades para hacer girar la Ruleta Mundialista Colsubsidio y poder responder las preguntas que saldrán de manera aleatoria, asimismo, el usuario contará con 10 segundos para dar respuesta a la pregunta, por cada respuesta acertada el usuario ganará 10 balones, el usuario únicamente contará con tres (3) giros por día, es decir, que una vez agotados los turnos deberá esperar a que inicié el día para obtener nuevamente sus tres (3) giros reglamentarios.
                    </p>
                    <p>
                        El usuario podrá adquirir 5 balones únicamente en el primer login que realice al día, estos balones se cargaran de manera automática a su puntaje.
                    </p>
                    <p>
                        Las preguntas que se le realizaran a los usuarios durante la etapa de la "La Previa" aparecerán de manera aleatoria, estas preguntas serán de respuesta múltiple y tendrán una única respuesta, una vez seleccionada la respuesta el usuario no podrá modificarla.
                    </p>
                    <p>
                        Los usuarios que participen en el juego Ruleta Mundialista Colsubsidio podrán adquirir balones extras si invitan a más amigos a que participen de la Ruleta Mundialista Colsubsidio, podrán invitar hasta tres (3) personas por día y el usuario ganará 5 balones por invitación enviada.
                    </p>
                    <p>
                        Para que los usuarios invitados puedan participar del juego virtual deberán realizar una compra igual o superior a los $80.000 pesos colombianos (no acumulables) en productos y/o servicios de Recreación y Turismo de Colsubsidio (Piscilago, Club La Colina, Club Bellavista, Club 195, El Cubo, Hotel Peñalisa, Hotel Bosque de Athan, Hotel Lanceros, Hotel Colonial y Hotel El Alcaraván) e ingresar el número de factura y/o número del recibo de pago y/o número de reserva en la página web <a href="http://ruletacolsubsidio.com">ruletacolsubsidio.com</a> junto con sus datos personales e iniciar el juego virtual.
                    </p>
                    <p>
                        Los usuarios podrán consultar su posición en el juego virtual la Ruleta Mundialista Colsubsidio. Los puntajes acá publicados serán los resultados obtenidos por cada usuario de acuerdo a su nivel de asertividad en sus respuestas. Se aclara que la Caja de Compensación Colsubsidio no interferirá sobre estos resultados y que los únicos responsables de estos resultados serán los mismos usuarios con su nivel de participación diaria y de asertividad.
                    </p>
                    <p>
                        El juego virtual la Ruleta Mundialista Colsubsidio seleccionará tres (3) ganadores, los cuales obtendrán los siguientes premios:

                        <ul>
                            <li>
                                · Primer puesto: Un TV 32" + hospedaje para dos personas, 2 noches – 3 días en Hoteles Colsubsidio. El ganador podrá elegir entre el Hotel Peñalisa, Hotel Bosque de Athan, Hotel Lanceros, Hotel Colonial y Hotel El Alcaraván para hacer efectivo el hospedaje de 2 noches, 3 días. El premio solo incluye hospedaje, los gastos extras serán asumidos por el ganador.
                            </li>
                            <li>
                                · Segundo puesto: Hospedaje para 4 personas 2 noches – 3 días en Hoteles Colsubsidio. El ganador podrá elegir entre el Hotel Peñalisa, Hotel Bosque de Athan, Hotel Lanceros, Hotel Colonial y Hotel El Alcaraván para hacer efectivo el hospedaje de 2 noches, 3 días. El premio solo incluye hospedaje, los gastos extras serán asumidos por el ganador.
                            </li>
                            <li>
                                · Tercer puesto: El usuario que quede en la tercera posición ganara 6 entradas al Mega parque Piscilago. El premio solo incluye las entradas, los gastos extras serán asumidos por el ganador.
                            </li>
                        </ul>
                    </p>
                    <p>
                        Para que un usuario sea seleccionado como ganador deberá cumplir con las siguientes condiciones:
                        <ul>
                            <li>
                                · Estar entre los tres (3) primeros puestos con más balones acumulados durante todo el juego, es decir, la fase de "La Previa".
                            </li>
                            <li>
                                · El orden de los premios corresponderá al total de balones acumulados de manera descendente.
                            </li>
                            <li>
                                · El usuario deberá presentar la factura en físico para poder ser acreedor del premio.
                            </li>
                            <li>
                                · La factura registrada deberá representar un valor igual o superior a los $80.000 pesos colombianos en productos y/o servicios de Recreación y Turismo de Colsubsidio (Piscilago, Club La Colina, Club Bellavista, Club 195, El Cubo, Hotel Peñalisa, Hotel Bosque de Athan, Hotel Lanceros, Hotel Colonial y Hotel El Alcaraván) y deberá tener una vigencia de compra del 01 de abril de 2018 al 31 de mayo de 2018.
                            </li>
                            <li>
                                · Si el usuario ganador no cumple con todas las anteriores condiciones, la Caja de Compensación Colsubsidio procederá a contactarse con el siguiente usuario que haya acumulado más balones en orden descendente, así hasta completar los tres (3) ganadores de la Ruleta Mundialista Colsubsidio.
                            </li>
                        </ul>
                    </p>
                    <p>
                        La Caja de Compensación Colsubsidio se pondrá en contacto con los ganadores los días 18 y 19 de junio de 2018 y los premios serán entregados el día 23 de junio de 2018  en El Cubo Colsubsidio ubicado en la Carrera 30 NQS No. 52 - 77.
                    </p>
                    <p>
                        Los usuarios ganadores de la Ruleta Mundialista Colsubsidio aceptan todos los términos y condiciones, así como las condiciones de uso del juego virtual la Ruleta Mundialista Colsubsidio, por tanto, los ganadores aceptan que se realice una transmisión en vivo en las redes sociales de Colsubsidio Recreación y Turismo con el objetivo de comunicar a los seguidores la entrega de premios y la veracidad del juego virtual.
                    </p>
                    <p>
                        Al finalizar la mecánica virtual, y de llegar a presentarse un empate, quedará como ganador quién haya obtenido mayor número de aciertos en las preguntas realizadas en la fase "La Previa".
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
