<div class="modal fade terms-modal" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="{{ asset('img/logo-colsubsidio.png') }}" class="modal-brand margin-top-17 hidden-xxs" alt="Colsubsidio">
                <button type="button" class="close pull-right hidden-sm hidden-md hidden-lg" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title pull-right text-right" id="myModalLabel">
                    Términos y Condiciones
                </h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia fugit in, esse cumque magni, sint quis possimus asperiores praesentium architecto molestias deleniti, cupiditate corporis. Molestias minima at, magnam ea debitis.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia fugit in, esse cumque magni, sint quis possimus asperiores praesentium architecto molestias deleniti, cupiditate corporis. Molestias minima at, magnam ea debitis.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia fugit in, esse cumque magni, sint quis possimus asperiores praesentium architecto molestias deleniti, cupiditate corporis. Molestias minima at, magnam ea debitis.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia fugit in, esse cumque magni, sint quis possimus asperiores praesentium architecto molestias deleniti, cupiditate corporis. Molestias minima at, magnam ea debitis.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia fugit in, esse cumque magni, sint quis possimus asperiores praesentium architecto molestias deleniti, cupiditate corporis. Molestias minima at, magnam ea debitis.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
