<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">

        <title>{% block title %}Trivia Mundialista Colsubsidio{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('build/main.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'default/navigation.html.twig' %}

        {% block body %}{% endblock %}

        <script src="{{ asset('build/app.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
