{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-xs-12  col-sm-4 text-center">
    </div>

    <div class="col-xs-12  col-sm-4 text-center">
        <img src="{{ asset('img/roulette.png') }}" class="roulette" alt="Ruleta">
    </div>

    <div class="col-xs-12  col-sm-4 play">
    </div>
{% endblock %}
