{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-xs-12  col-sm-4 text-center">
        <div class="row">
            <img id="roulette" src="{{ asset('img/roulette.png') }}" data-src="{{ asset('img/gif/roulette.gif') }}" class="roulette" alt="Ruleta">
        </div>

        <div class="row">
            <div id="rouletteBtnContainer" class="col-xs-12 text-center">
            </div>
            <div id="timeLeftContainer" class="col-xs-12 time-left hide">
                <p>
                    En <span id="timeLeft">23:59</span> hora(s) tendrás 3 oportunidades para ganar
                </p>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-sm-offset-2 text-center question-container">
        {% if isFirstUser %}
            <div class="alert alert-custom">
                <button type="button" class="close pull-right" data-dismiss="alert" aria-label="Close" style="margin-top: -2px;">
                    <span aria-hidden="true" style="color: white;">×</span>
                </button>
                ¡Estás liderando del juego! No pares de ganar
            </div>
        {% endif %}

        <div id="questionTitle" class="row">
            <p>
                {% if answeredQuestions > 2 %}
                    Ya respondiste las 3 preguntas de hoy.
                {% else %}
                    ¡Comienza a jugar ahora!
                {% endif %}
            </p>
        </div>

        <div id="questionAnswers" class="row"></div>

        <div class="row field-container">
            <img id="roulette" src="{{ asset('img/field.png') }}" class="roulette" alt="Campo">
        </div>

        <div id="shareContainer" class="row share-container">
            <div data-toggle="modal" data-target="#inviteModal" class="col-xs-5 col-sm-4 col-xs-offset-4 text-center">
                Invitar Amigos
            </div>
        </div>
    </div>
{% endblock %}
