{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-xs-12  col-sm-4 text-center">
        <div class="row">
            <img src="{{ asset('img/roulette.png') }}" class="roulette" alt="Ruleta">
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                Jugar
            </div>
            <div class="col-xs-12 col-sm-6">
                Detener
            </div>
            <div class="col-xs-12 time-left">
                <p>
                    En <span>23:59</span> horas tendrás 3 oportunidades
                </p>
            </div>
        </div>
    </div>

    <div class="col-xs-12  col-sm-4 text-center">
    </div>

    <div class="col-xs-12  col-sm-4 play">
    </div>
{% endblock %}
