{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div>
                <h1>Trivia Colsubsidio</h1>
            </div>

            {% include 'default/navigation.html.twig' %}

        </div>
    </div>
{% endblock %}
