/*
* Bootstrap
 */
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

/*
* Path Vars
 */
$bgImage: '../../../../web/img/bg.jpg';

/*
* Colour Vars
 */
$blueDark: #041625;
$blue: #399abe;
$blueSoft: #39bde0;
$yellowDark: #f8bb43;
$black: black;
$blackTransparent: rgba($black, 0);
$blackTransparentLight: rgba($black, .25);
$blackTransparentMedium: rgba($black, .5);
$greySoft: #f5f5f5;
$white: white;

/*
* Other Vars
 */
$fontWeight: 300 !important;

/*
* Globals
 */
html {
    position: relative;
    min-height: 100%;

    /*
    * Modals
     */
    .modal {
        .modal-header {
            border: none;
            background: $blueDark;

            .modal-title {
                font-size: 2em;
                color: $white;

                small {
                    display: block;
                }
            }

            .modal-brand {
                width: 180px;
                height: auto;
                position: absolute;
                left: 20px;
                top: -3px;
                z-index: 99;
            }
        }

        .modal-body {
            background-image: url("#{$bgImage}");
            background-size: cover;
            background-repeat: no-repeat;
            padding-top: 60px;

            .alert-custom {
                background: $blackTransparentMedium;
                font-size: 1.1em;
                border-radius: 0;
            }

            li, span {
                color: $white !important;
            }

            .loader-container img {
                width: 60px;
            }

            .player-name {
                text-transform: capitalize;
            }

            > .row {
                border-bottom: 1px solid white;
                margin: 0 15px 20px 15px;
                padding-bottom: 3px;

                .header {
                    color: $yellowDark !important;
                }

                &:last-child {
                    border: none;
                }

                .player-row {
                    border-bottom: 1px solid;
                    padding-bottom: 2px;
                    margin-bottom: 5px;
                }
            }
        }
    }

    .modal-backdrop.in {
        opacity: .7 !important;
    }


    /*
    * Body
     */
    body {
        background-color: $blueDark;
        color: $white;
        margin-bottom: 60px;
        background-image: url("#{$bgImage}");
        background-size: cover;
        background-repeat: no-repeat;

        a {
            color: $yellowDark !important;

            &:hover {
                color: $white !important;
                text-decoration: none !important;
            }
        }

        ol,
        ul {
            padding: 0;

            > li {
                list-style: none;
            }
        }

        * {
            font-weight: $fontWeight;
        }

        .main-container {
            padding: 140px 0 70px;
            // height: 760px;
        }

        .container {
            position: relative;

            .alert-custom {
                background: $blackTransparentMedium;
                font-size: 1.1em;
                border-radius: 0;
            }

            .info {
                background: $blackTransparentMedium;
                border-radius: 9%;
                padding: 22px;
                margin-top: 35px;

                .middle {
                    margin: 20px 0;
                    display: block;
                }

                .yellow {
                    color: $yellowDark;
                }
            }

            .main-logo-game {
                width: 300px;
                max-width: 100%;
            }

            .roulette {
                width: 100%;
            }

            .play,
            .form-container {
                text-align: center;
                margin-bottom: 15%;

                .btn-play {
                    width: 50%;
                }
            }

            .icon-ball {
                margin-top: -10px;
                width: 30px;
            }

            .icon-trophy {
                cursor: pointer;
                margin-top: 4px;
                width: 40px;
            }

            /*
            * Player Dashboard Styles
             */
            .player-info {
                margin-left: 10px;

                > div {
                    background: $blackTransparentMedium;
                    height: 56px;
                    margin: 15px 3px 0 0;

                    &:last-child {
                        background: $blackTransparentMedium; /* For browsers that do not support gradients */
                        background: -webkit-linear-gradient(right, $blackTransparent, $blackTransparentMedium);
                        background: -o-linear-gradient(right, $blackTransparent, $blackTransparentMedium);
                        background: linear-gradient(to left, $blackTransparent, $blackTransparentMedium);
                    }

                    p {
                        color: $yellowDark;
                        font-size: 1.1em;
                    }

                    p.greetings {
                        color: $white;
                        margin: 7px 0 -1px;
                        font-size: 1.2em;
                    }
                }
            }

            .time-left {
                margin-top: 20px;
                font-size: 1.12em;

                span {
                    color: $yellowDark;
                }
            }

            .btn-roulette {
                color: $white;
                border-radius: 50px;
                padding: 7px 20px;
                border: 2px solid;
                border-color: $white;
                cursor: pointer;
                font-size: 1.4em;
                background-color: $blackTransparentLight;
            }

            .btn-roulette-yellow {
                color: $yellowDark;
                padding: 7px 26px;
                border-color: $yellowDark;
            }

            .question-container {
                margin-top: 50px;
                padding-bottom: 100px;

                p {
                    font-size: 1.4em;
                    margin-bottom: 20px;
                }

                .answer-container {
                    margin: 5px 0;
                    font-size: .8em;

                    .btn-roulette {
                        min-width: 100px;
                        display: inline-block;
                        max-width: 200px;
                    }
                }

                .field-container {
                    margin-top: 70px;
                }

                .share-container > div {
                    margin-top: 20px;
                    border-bottom: 2px solid $white;
                    padding: 20px 0 10px;
                    cursor: pointer;
                    margin-right: 10px;
                }
            }
        }

        .navbar-default {
            background-color: $blueDark;
            border: none;

            .navbar-brand {
                width: 200px;
                height: auto;
            }

            .navbar-toggle {
                border: none;

                &:hover,
                &:focus {
                    background: none;
                    border: none;
                }

                .icon-bar {
                    background-color: white;
                }
            }

            .logo-centered {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 190px;
                margin-bottom: -72px;
                margin-top: 26px;
            }

            .navbar-nav {
                .dropdown-menu {
                    background-color: $blueDark !important;

                    li > a:focus,
                    li > a:hover {
                        background-color: transparent !important;
                    }
                }

                & > .open > a {
                    background-color: transparent !important;
                }
            }
        }

        .footer {
            position: absolute;
            width: 100%;
            background-color: $white;
            padding-top: 10px;
            bottom: 0;

            img {
                width: 200px;
                margin-bottom: 10px;
            }

            .container {
                padding-right: 0;
                margin-right: 15px;

                .text-muted {
                    margin: 0;
                    padding-right: 15px;
                    padding-left: 15px;
                    color: $blueDark;
                    line-height: 1;

                    a:hover {
                        color: $yellowDark !important;
                    }
                }

                .row {
                    overflow: hidden;
                }
            }

            .text-right {
                padding-right: 0;

                img {
                    width: 400px;
                    padding: 0;
                    margin: 0;
                }
            }
        }

        form {
            margin-top: 50px;

            &.fos_user_registration_register {
                margin-bottom: 50px;

                .form-group {
                    margin-bottom: 8px;

                    ul {
                        margin-bottom: 0;
                    }
                }
            }

            input[type=text],
            input[type=password],
            input[type=number],
            input[type=email] {
                text-align: center;
                background: $blackTransparentLight;
                padding: 6px 0;
                border-radius: 50px;
                width: 85%;
                color: $white !important;
                border-width: 1px;
            }

            .btn-submit {
                background: $blueSoft;
                border: none;
                padding: 9px 15px;
                margin-bottom: 20px;
                border-radius: 50px;
                width: 160px;
                font-size: 1.1em;

                .glyphicon {
                    background: $blue;
                    padding: 5px;
                    border-radius: 50%;
                    margin-top: -3px;
                }
            }
        }

        @media only screen and (max-width: 767px) {
            .footer .text-right {
                padding-top: 8%;
            }
        }

        @media only screen and (min-width: 768px) {
            .navbar.navbar-default.navbar-fixed-top {
                height: 80px;

                .nav.navbar-nav {
                    float: right;
                    margin-top: 35px;
                }
            }

            .container {
                .info {
                    margin-top: 100px;
                }

                .play {
                    margin-top: 160px;
                    text-align: left;
                }

                .player-info > div {
                    float: right;
                }

                &.register-container {
                    .roulette {
                        width: 60%;
                    }
                }
            }
        }
    }
}
