/*
* Bootstrap
 */
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

/*
* Path Vars
 */
$bgImage: '../../../../web/img/bg.jpg';

/*
* Colour Vars
 */
$blueDark: #041625;
$yellowDark: #f8bb43;
$white: white;
$black: black;
$blackTransparent: rgba($black, 0);
$blackTransparentMedium: rgba($black, .5);
$greySoft: #f5f5f5;

/*
* Globals
 */
html {
    position: relative;
    min-height: 100%;

    .ranking-modal {
        .modal-title,
        li, span {
            color: $blueDark !important;
        }

        .loader-container img {
            width: 60px;
        }
    }

    body {
        background-color: $blueDark;
        color: $white;

        margin-bottom: 60px;

        a {
            color: $yellowDark !important;

            &:hover {
                color: $white !important;
                text-decoration: none !important;
            }
        }

        ol,
        ul {
            padding: 0;

            > li {
                list-style: none;
            }
        }

        .container {
            position: relative;

            .info {
                background: $blackTransparentMedium;
                border-radius: 9%;
                padding: 22px;
                margin-top: 35px;

                .middle {
                    margin: 20px 0;
                    display: block;
                }

                .yellow {
                    color: $yellowDark;
                }
            }

            .main-logo-game {
                width: 300px;
                max-width: 100%;
            }

            .roulette {
                width: 100%;
            }

            .play {
                text-align: center;
                margin-bottom: 15%;

                .btn-play {
                    width: 50%;
                }
            }

            .icon-ball {
                margin-top: -10px;
                width: 30px;
            }

            .icon-trophy {
                cursor: pointer;
                margin-top: 4px;
                width: 40px;
            }

            .player-info > div {
                background: $blackTransparentMedium;
                height: 56px;
                margin: 15px 3px 0 0;

                &:last-child {
                    background: $blackTransparentMedium; /* For browsers that do not support gradients */
                    background: -webkit-linear-gradient(right, $blackTransparent, $blackTransparentMedium);
                    background: -o-linear-gradient(right, $blackTransparent, $blackTransparentMedium);
                    background: linear-gradient(to left, $blackTransparent, $blackTransparentMedium);
                }

                p {
                    color: $yellowDark;
                    font-size: 1.1em;
                    font-weight: 300;
                }

                p.greetings {
                    color: $white;
                    margin: 7px 0 -1px;
                    font-size: 1.2em;
                    font-weight: 300;
                }
            }
        }

        .navbar-default {
            background-color: $blueDark;
            border: none;

            .navbar-brand {
                width: 200px;
                height: auto;
            }

            .navbar-toggle {
                border: none;

                &:hover,
                &:focus {
                    background: none;
                    border: none;
                }

                .icon-bar {
                    background-color: white;
                }
            }

            .logo-centered {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 190px;
                margin-bottom: -72px;
                margin-top: 26px;
            }

            .navbar-nav {
                .dropdown-menu {
                    background-color: $blueDark !important;

                    li > a:focus,
                    li > a:hover {
                        background-color: transparent !important;
                    }
                }

                & > .open > a {
                    background-color: transparent !important;
                }
            }
        }

        > .container-fluid {
            background-image: url("#{$bgImage}");
            padding-top: 140px;
            height: 760px;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .footer {
            position: absolute;
            width: 100%;
            background-color: $white;
            padding-top: 10px;

            img {
                width: 200px;
                margin-bottom: 10px;
            }

            .container {
                padding-right: 0;
                margin-right: 15px;

                .text-muted {
                    margin: 0;
                    padding-right: 15px;
                    padding-left: 15px;
                    color: $blueDark;
                    line-height: 1;

                    a:hover {
                        color: $yellowDark !important;
                    }
                }

                .row {
                    overflow: hidden;
                }
            }

            .text-right {
                padding-right: 0;

                img {
                    width: 400px;
                    padding: 0;
                    margin: 0;
                }
            }
        }

        form input {
            color: $blueDark !important;
        }

        @media only screen and (max-width: 767px) {
            .footer .text-right {
                padding-top: 8%;
            }
        }

        @media only screen and (min-width: 768px) {
            .navbar.navbar-default.navbar-fixed-top {
                height: 80px;

                .nav.navbar-nav {
                    float: right;
                    margin-top: 35px;
                }
            }

            .container {
                .info {
                    margin-top: 100px;
                }

                .play {
                    margin-top: 160px;
                    text-align: left;
                }

                .player-info > div {
                    float: right;
                }
            }
        }
    }
}
