/*
* Bootstrap
 */
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

/*
* Path Vars
 */
$bgImage: '../../../../web/img/bg.jpg';

/*
* Colour Vars
 */
$red: #dc3545;
$blueDark: #041625;
$blue: #399abe;
$blueSoft: #39bde0;
$bluePiscilago: #003d7e;
$blueClubes: #3f94cd;
$yellowHoteles: #f7b720;
$yellowDark: #f8bb43;
$black: black;
$blackTransparent: rgba($black, 0);
$blackTransparentLight: rgba($black, .25);
$blackTransparentMedium: rgba($black, .5);
$greySoft: #f5f5f5;
$white: white;

/*
* Other Vars
 */
$fontWeight: 300 !important;

/*
* Globals
 */
html {
    position: relative;
    min-height: 100%;

    .navbar-default .navbar-toggle .icon-bar {
        background-color: $yellowDark !important;
    }

    /*
    * Modals
     */
    .modal-backdrop.in {
        opacity: .7 !important;
    }

    .modal {
        .modal-header {
            border: none;
            background: $blueDark;

            .close {
                margin: 6px 0 0 10px;

                > span { color: $white !important; }
            }

            .modal-title {
                font-size: 2em;
                color: $white;

                small {
                    display: block;
                }
            }

            .modal-brand {
                width: 180px;
                max-width: 45%;
                height: auto;
                position: absolute;
                left: 20px;
                top: -3px;
                z-index: 99;

                &.margin-top-17 {
                    margin-top: 17px;
                }

                &.xxs-brand {
                    max-width: 25%;
                    left: 10px;
                }
            }
        }

        .modal-body {
            background-image: url("#{$bgImage}");
            background-size: cover;
            background-repeat: no-repeat;
            padding-top: 60px;

            .alert-custom {
                background: $blackTransparentMedium;
                font-size: 1.1em;
                border-radius: 0;
            }

            li, span {
                color: $white !important;
            }

            .loader-container img {
                width: 60px;
            }

            .player-name {
                text-transform: capitalize;
            }

            > .row {
                border-bottom: 1px solid white;
                margin: 0 15px 20px 15px;
                padding-bottom: 3px;

                .header {
                    color: $yellowDark !important;
                }

                &:last-child {
                    border: none;
                }

                .player-row {
                    border-bottom: 1px solid;
                    padding-bottom: 2px;
                    margin-bottom: 5px;
                }
            }

            .logo-container {
                margin-top: 10px;
                padding: 10px;
                height: 170px;

                &.logo-piscilago-container { background: $bluePiscilago; }
                &.logo-cubo-container { background: $black; }
                &.logo-hoteles-container { background: $yellowHoteles; }
                &.logo-clubes-container { background: $blueClubes; }

                .img-responsive {
                    margin: auto;
                    max-height: 100%;
                }
            }

            .url-container {
                background: $blackTransparentMedium;
                padding: 5px;
                font-size: 1.15em;
            }

            .terms-container {
                max-height: 500px;
                overflow-y: scroll;
                background: $blackTransparentMedium;
                padding-top: 20px;
                padding-bottom: 20px;
                margin-top: -30px;
                font-size: 1.1em;

                ul {
                    padding: 10px 20px;

                    li {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }


    /*
    * Body
     */
    body {
        background-color: $blueDark;
        color: $white;
        margin-bottom: 60px;
        background-image: url("#{$bgImage}");
        background-size: cover;
        background-repeat: no-repeat;

        a,
        .yellow-text {
            color: $yellowDark !important;
            cursor: pointer;
        }

        a:hover {
            color: $white !important;
            text-decoration: none !important;
        }

        ol,
        ul {
            padding: 0;

            > li {
                list-style: none;
            }
        }

        * {
            font-weight: $fontWeight;
        }

        .main-container {
            padding: 140px 0 70px;
            // height: 760px;
        }

        .container {
            position: relative;

            .alert-custom {
                background: $blackTransparentMedium;
                font-size: 1.1em;
                border-radius: 0;
            }

            .info {
                background: $blackTransparentMedium;
                border-radius: 9%;
                padding: 22px;
                margin-top: 35px;

                .middle {
                    margin: 20px 0;
                    display: block;
                }

                .yellow {
                    color: $yellowDark;
                }
            }

            .main-logo-game {
                width: 300px;
                max-width: 100%;

                &.main-logo-game-col {
                    margin-top: 20px;
                }
            }

            .roulette-container {
                position: relative;

                .roulette {
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                canvas {
                    margin-top: 20px;
                }
            }

            canvas,
            .roulette,
            .field {
                width: 100%;
            }

            .play,
            .form-container {
                text-align: center;
                margin-bottom: 15%;

                .btn-play {
                    width: 60%;
                }
            }

            .icon-ball {
                margin-top: -10px;
                width: 30px;
            }

            .icon-trophy {
                cursor: pointer;
                margin-top: 4px;
                width: 40px;
            }

            /*
            * Player Dashboard Styles
             */
            .player-info {
                margin-left: 10px;

                > div {
                    background: $blackTransparentMedium;
                    height: 56px;
                    margin: 15px 3px 0 0;

                    &:last-child {
                        background: $blackTransparentMedium; /* For browsers that do not support gradients */
                        background: -webkit-linear-gradient(right, $blackTransparent, $blackTransparentMedium);
                        background: -o-linear-gradient(right, $blackTransparent, $blackTransparentMedium);
                        background: linear-gradient(to left, $blackTransparent, $blackTransparentMedium);
                    }

                    p {
                        color: $yellowDark;
                        font-size: 1.1em;

                        &.count-down-container {
                            font-size: 2.5em;
                        }
                    }

                    p.greetings {
                        color: $white;
                        margin: 7px 0 -1px;
                        font-size: 1.2em;
                    }
                }
            }

            .time-left {
                margin-top: 20px;
                font-size: 1.12em;

                span {
                    color: $yellowDark;
                }
            }

            .btn-roulette {
                color: $yellowDark;
                border-radius: 50px;
                padding: 7px 20px;
                border: 2px solid;
                border-color: $yellowDark;
                cursor: pointer;
                font-size: 1.4em;
                background-color: $blackTransparentLight;
            }

            .question-container {
                margin-top: 10px;
                padding-bottom: 100px;

                p {
                    font-size: 1.4em;
                    margin-bottom: 20px;
                }

                .answer-container {
                    margin: 5px 0;
                    font-size: .8em;

                    .btn-roulette {
                        min-width: 100px;
                        display: inline-block;
                        max-width: 200px;

                        &:hover {
                            color: $white;
                            border-color: $white;
                        }
                    }
                }

                .field-container {
                    margin-top: 70px;
                }

                .share-container > div {
                    margin-top: 20px;
                    border-bottom: 2px solid $white;
                    padding: 20px 0 10px;
                    cursor: pointer;
                    margin-right: 10px;
                }

                .loader-container img {
                    width: 100px;
                }
            }
        }

        .navbar-default {
            background-color: $blueDark;
            border: none;

            .navbar-brand {
                width: 200px;
                height: auto;
            }

            .navbar-toggle {
                border: none;

                &:hover,
                &:focus {
                    background: none;
                    border: none;
                }

                .icon-bar {
                    background-color: white;
                }
            }

            .logo-centered {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 190px;
                margin-bottom: -72px;
                margin-top: 26px;
            }

            .navbar-nav {
                .dropdown-menu {
                    background-color: $blueDark !important;

                    li > a:focus,
                    li > a:hover {
                        background-color: transparent !important;
                    }
                }

                & > .open > a {
                    background-color: transparent !important;
                }
            }
        }

        .footer {
            position: absolute;
            width: 100%;
            background-color: $white;
            padding-top: 10px;
            bottom: 0;

            img {
                width: 200px;
                margin-bottom: 10px;
            }

            .container {
                padding-right: 0;
                margin-right: 15px;

                .text-muted {
                    margin: 0;
                    padding-right: 15px;
                    padding-left: 15px;
                    color: $blueDark;
                    line-height: 1;

                    a:hover {
                        color: $yellowDark !important;
                    }
                }

                .row {
                    overflow: hidden;
                }
            }

            .text-right {
                padding-right: 0;

                img {
                    width: 400px;
                    padding: 0;
                    margin: 0;
                }
            }
        }

        form {
            margin-top: 50px;

            &.fos_user_registration_register {
                margin-bottom: 50px;

                .form-group {
                    margin-bottom: 8px;

                    ul {
                        margin-bottom: 0;
                        color: #dc3545;
                    }
                }
            }

            input[type=text],
            input[type=password],
            input[type=number],
            input[type=email] {
                text-align: center;
                background: $blackTransparentLight;
                padding: 6px 0;
                border-radius: 50px;
                width: 85%;
                color: $white !important;
                border-width: 1px;
            }

            .btn-submit {
                background: $blueSoft;
                border: none;
                padding: 9px 15px;
                margin-bottom: 20px;
                border-radius: 50px;
                width: 160px;
                font-size: 1.1em;

                .glyphicon {
                    background: $blue;
                    padding: 5px;
                    border-radius: 50%;
                    margin-top: -3px;
                }
            }

            // Styling Checkbox
            .checkbox-container {
                > label.required,
                > label:first-child {
                    vertical-align: top;
                    margin: 8px 10px 0 0;
                }

                .switch {
                    position: relative;
                    display: inline-block;
                    width: 60px;
                    height: 34px;

                    input {
                        display:none;
                    }
                }

                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #ccc;
                    -webkit-transition: .4s;
                    transition: .4s;

                    &:before {
                        position: absolute;
                        content: "";
                        height: 26px;
                        width: 26px;
                        left: 4px;
                        bottom: 4px;
                        background-color: white;
                        -webkit-transition: .4s;
                        transition: .4s;
                    }

                    &.round {
                        border-radius: 34px;

                        &:before {
                            border-radius: 50%;
                        }
                    }
                }

                input[type=checkbox].styled {
                    &:checked + .slider {
                        background-color: $blueSoft;
                    }

                    &:focus + .slider {
                        box-shadow: 0 0 1px $blueSoft;
                    }

                    &:checked + .slider:before {
                        -webkit-transform: translateX(26px);
                        -ms-transform: translateX(26px);
                        transform: translateX(26px);
                    }
                }
            }
        }


        @media only screen and (max-width: 567px) {
            .hidden-xxs { display: none; }
        }

        @media only screen and (max-width: 767px) {
            .modal .modal-header .modal-title {
                font-size: 1.6em;
            }
            .footer .text-right {
                padding-top: 8%;
            }
        }

        @media only screen and (min-width: 768px) {
            .navbar.navbar-default.navbar-fixed-top {
                height: 80px;

                .nav.navbar-nav {
                    float: right;
                    margin-top: 35px;
                }
            }

            .container {
                .info {
                    margin-top: 100px;
                }

                .play {
                    margin-top: 100px;
                    text-align: left;
                }

                .player-info > div {
                    float: right;
                }

                &.register-container {
                    .roulette {
                        width: 60%;
                    }
                }

                .roulette-container {
                    canvas,
                    .roulette {
                        width: 110%;
                    }
                }
            }
        }
    }
}
